

footer{    
        @include flex-tres;
        align-items: end;

        div{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100vw;
            background-color: $color-fondo;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: end;
            padding: 1rem;
            z-index: 2;


            ul{ @include flex-tres;
                align-items: end;
                list-style: none;
                gap: 1.5rem;
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100vw;
                background-color: black;
                text-align: center;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: end;
                padding: 1rem;
                z-index: 2;

                li{
                    @include flex-tres;
                    align-items: end;
                    list-style: none;
                    gap: 1.5rem;
                    
                    a{
                        img{
                            width: 2.5rem;
                            height: 2.5rem;

                        }
                    }
                }
            }
        }
}
