<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Te damos la bienvenida a nuestro Menú. Ingresá y conocé nuestra variada carta de Pizzas como tambien nuestra carta de Bebidas y mesa dulce">
    <meta name="keywords" content="Gran recoleta Menú, Pizzas, Bebidas, Postres, Pizza Italiana">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="shortcut icon" href="../../multimedia/faviconpizza.jpg" type="image/x-icon">
    <title>Menú</title>
</head>

<body>


    <header>

        <nav class="navbar navbar-expand-lg bg-red">
            <div class="container-fluid">
              <a class="navbar-brand" href="../../index.html">Gran Recoleta</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav justify-content-center">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="menu.html">Menú</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="galeria.html">Galeria</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="reservas.html">Reservas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="sucursales.html">Sucursales</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    
        </header>

        <section>     
          
          <h1 class="menu-encabezado animate__animated animate__fadeInDown">Menú</h1>
      
          <hr>
        </section>


        <main class="main-menu">
          
             <div class="card-pizzas">
              <article class="menu-pizzas">
        
                <h2>Pizzas</h2>
                <hr>
        
                <h3>Marinara</h3>
                <p class="ingredientes"> <span>salsa, ajo y tomate......$2600</span></p>
             
                <h3>Margarita</h3>
               <p class="ingredientes"> <span>salsa, muzzarella, tomate y albahaca......$2800</span></p>
        
               <h3>Muzzarela</h3>
               <p class="ingredientes"> <span>salsa, muzzarella, aceitunas y oregano......$3200</span></p>
        
               <h3>Fugazzeta</h3>
               <p class="ingredientes"> <span>muzarella, cebolla, aceitunas y oregano......$3400</span></p>
        
        
               <h3>Especial</h3>
               <p class="ingredientes"> <span>salsa, muzzarella, jamón, huevos fritos, morrones, aceitunas y oregano......$3800</span></p>
        
        
                <h3>Gran Recoleta</h3>
               <p class="ingredientes"> <span>salsa, muzzarella, huevos, panceta y aceitunas......$4200</span></p>
        
               <h3>Vegetariana</h3>
               <p class="ingredientes"> <span>salsa, muzzarella, tomate, rúcula, champignones y aceitunas......$3200</span></p>
        
               <h3>Roquefort</h3>
               <p class="ingredientes"> <span>salsa, muzzarella, roquefort, aceitunas y oregano......$3500</span></p>
        
               <h3>Cuatro Quesos</h3>
               <p class="ingredientes"> <span>muzzarella, parmesano, fontina y queso azul.....$4200</span></p>
        
               <h3>Palmitos y Salsa Golf</h3>
               <p class="ingredientes"> <span>muzzarella, jamon, morrones, palmitos, aceitunas y salsa golf.....$4600</span></p>
              
               <h3>Jamón Crudo</h3>
               <p class="ingredientes"> <span>muzzarella, jamón crudo, morrones y aceitunas.....$4800</span></p>
        
            
              </article>

            </div>
            
            
            <div class="card-bebidas">

             <article class="menu-bebidas">
              
                <h2>Bebidas</h2>
                <hr>
        
        
                <h3>Cervezas</h3>
        
                <p class="bebidas">Heineken x 1lt......$2800</p>
                <p class="bebidas">Imperial x 1lt......$2400</p>
                <p class="bebidas">Corona x 750ml......$2800</p>
                
                <h3>Vinos</h3>
        
                <p class="bebidas">Portillo Malbec..........$2600</p>
                <p class="bebidas">Portillo Pinot Noir......$2600</p>
                <p class="bebidas">Kilika Salentein Malbec......$3400</p>
                <p class="bebidas">Flaneur Orange............$3300</p>
                <p class="bebidas">Laureano Gomez Merlot.....$3200</p>
                <p class="bebidas">Laureano Gomez Rosado.....$3600</p>
                <p class="bebidas">Sombrero Malbec...........$3900</p>
                <p class="bebidas">Lindaflor.................$4200</p>
                
                <h3>Gaseosas</h3>
        
                <p class="gaseosas">Coca Cola x355ml........$1300</p>
                <p class="gaseosas">Sprite x355ml...........$1300</p>
                <p class="gaseosas">Fanta x355ml............$1300</p>
                <p class="gaseosas">Paso de los Toros Tónica x354ml....$1200</p>
                <p class="gaseosas"></p>
                <p class="gaseosas"></p>
                <p class="gaseosas"></p>
                <p class="gaseosas"></p>
                
        
              </article>

            </div>

            <div class="card-postres">
              <article class="menu-postres">
        
                <h2>Postres</h2>
                <hr>
                
                <p class="postres">Tiramisú........$1800</p>
                <p class="postres">Cassata.........$1200</p>
                <p class="postres">Almendrado.......$1200</p>
                <p class="postres">Crema Catalana......$2200</p>
                <p class="postres">Flan...............$1800</p>
                <p class="postres">Selva Negra........$2200</p>
                <p class="postres">Cheesecake.........$2600</p>
        
        
              </article>

            </div>
        
            
        
        </main>


  <footer class="footer-home">

      
          <div class="cont-redes">
            
          <ul class="redes">
            
            
              <li class="redes-list"> <a href="https://www.instagram.com/kentuckypizzeria/" target="_blank"><img class="img-footer" src="../../multimedia/Instagram.svg" alt=""></a></li>
              <li class="redes-list"> <a href="https://www.facebook.com/KentuckyPizzeria" target="_blank"><img class="img-footer" src="../../multimedia/Facebook.png" alt=""></a></li>
              <li class="redes-list"> <a href="https://www.youtube.com/c/KentuckyPizzer%C3%ADaok/featured" target="_blank"><img class="img-footer" src="../../multimedia/Youtube.png" alt=""> </a></li>
    
          </ul>
    
          </div>
          
  </footer>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    
</body>
</html>