<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pizzería Gran Recoleta cuenta con cuatro sucursales. Ingresá y conocé su ubicacion como también sus días y horarios de atención al cliente">
    <meta name="keywords" content="Gran Recoleta Sucursales, Nuestras Sucursales, Caballito, Callao, Colegiales, Flores">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="shortcut icon" href="../../multimedia/faviconpizza.jpg" type="image/x-icon">
    <title>Sucursales</title>
</head>

<body>

  <header>

      <nav class="navbar navbar-expand-lg bg-red">
          <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html">Gran Recoleta</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../../index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="menu.html">Menu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="galeria.html">Galeria</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="reservas.html">Reservas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="sucursales.html">Sucursales</a>
                </li>
              </ul>
            </div>
          </div>
      </nav>
  
  </header>

      <section>

        <h1 class="sucursales-encabezado animate__animated animate__fadeInDown">Sucursales</h1>

        <hr>

      </section>




        <main class="main-sucursales">



           <div class="sucursal">
            <article class="article-sucursales">
              <h2 class="sucursales-localidad">Caballito</h2>
              <p>Díaz Vélez 5091 / Ambrosetti 801 (011) 4983-6886 Domingos a Jueves: De 6 a 02 hs. Viernes y Sábados: Abierto 24 hs</p>
            </article>
          </div>

           <div class="sucursal">
            <article class="article-sucursales">
                <h2 class="sucursales-localidad">Callao</h2>
                <p>Av. Callao 345 (011) 4371-2254 Domingos a Jueves: De 11 a 01 hs. Viernes y Sábados: De 11 a 02 hs</p>
            </article>

            </div>

            <div class="sucursal">
                <article class="article-sucursales">
                    <h2 class="sucursales-localidad">Colegiales</h2>
                    <p>Av.Federico Lacroze 3502, CABA (11) 60335422 Domingos a jueves: de 8 a 00 hs. Viernes y Sabados: de 8 a 01hs</p>
                </article>

            </div>

            <div class="sucursal">
                <article class="article-sucursales">
                    <h2 class="sucursales-localidad">Flores</h2>
                    <p>Av.Rivadavia 7002 (011) 4611-5737 Domingos a Jueves: De 6 a 02 hs. Viernes y Sábados: de 11 a 02 hs</p>
                </article>
            </div>


        </main>

        <footer class="footer-home">

      
            <div class="cont-redes">
              
            <ul class="redes">
              
              
                <li class="redes-list"> <a href="https://www.instagram.com/kentuckypizzeria/" target="_blank"><img class="img-footer" src="../../multimedia/Instagram.svg" alt=""></a></li>
                <li class="redes-list"> <a href="https://www.facebook.com/KentuckyPizzeria" target="_blank"><img class="img-footer" src="../../multimedia/Facebook.png" alt=""></a></li>
                <li class="redes-list"> <a href="https://www.youtube.com/c/KentuckyPizzer%C3%ADaok/featured" target="_blank"><img class="img-footer" src="../../multimedia/Youtube.png" alt=""> </a></li>
          
            </ul>
          
            </div>
          </footer>
          
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

      
    
</body>

</html>